<launch>
  <group ns="door_detect" clear_params="true">
      <param name="display" type="int" value="0"/>
      <param name="rect0_size_x" type="double" value="0.023"/>
      <param name="rect0_size_y" type="double" value="0.023"/>
      <param name="grid0_size_x" type="int" value="4"/>
      <param name="grid0_size_y" type="int" value="5"/>
      <param name="board_type" value="chess"/>
      <param name="type0" value="door_checkerboard" />
    <node pkg="checkerboard_detector" type="checkerboard_detector" 
          name="checkerboard_detector" output="screen">
      <remap from="camera_info" to="/kinect_head_c2/rgb/camera_info"/>
      <remap from="image" to="/kinect_head_c2/rgb/image_rect_mono"/>
    </node>

    <node pkg="checkerboard_detector" type="objectdetection_tf_publisher.py" 
          name="objectdetection_tf_publisher">
      <param name="use_simple_tf" value="true" />
    </node>
  </group>
  <node pkg="tf" type="static_transform_publisher" name="base_to_checkerboard" args="0.1 -0.1 -0.075 1 0 0 0 /object /BASE 10"/>
</launch>
